 body{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
} h1,h2,p{
    text-align: center; 
 }  
#menu{
    width: 80%;
    background-color: burlywood;
margin: auto;
padding: 20px;
}
.item p{
    display: inline-block;
}
.coffe{
    width: 75%;
    text-align: left; 
}
.price{
    text-align: right;
    width: 25%;
    
    
    
;
}